html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 197, 90);
  font-family: 'Roboto';
  font-weight:600;
  letter-spacing: 1px;
}

.default {
  color: black
}

.correct {
  color: blue
}

.incorrect {
  background-color: red;
  opacity: 70%;
  color: white;
}

.page-container {
  /* border: 2px solid greenyellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  
}

h1 {
  /* border: 2px solid black; */
  padding: 0.5em;
  font-size: 3em;
}

.quote-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
}

.quote-mark {
  content: "";
  width: 0px; 
  height: 0px; 
  position: relative;
  border-left: 30px solid transparent;
  border-top: 30px solid rgb(255, 255, 255);
  border-bottom: 20px solid transparent; 
  left: 25%;
}

textarea {
  border: 2px solid black;
  border-radius: 0.5em;
  font-family: 'Roboto';
  font-weight: bold;
}

.page{
  height: 100%;
  width: 100%;
}

.stats-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  height: 4em;
  gap: 15px;
}

.time, .speed, .accuracy {
  display: grid;
  place-items: center;
  background-color: black;
  border-radius: 15px;
  height: 4em;
  width: 9em;
  padding-left: 1em;
  padding-right: 1em;
}

.refetch {
  background-color: rgb(80, 80, 80);
  cursor: pointer;
  color: white;
  border-radius: 15px;
  font-size: 1em;
  font-family: 'Roboto';
  font-weight: bold;
}

.clickedRefetch {
  background-color: rgb(130, 130, 130);
  cursor: default;
}
